// some breakpoint sizes are adapted from `reflex-grid`

$mobile-sm: 320px; // ~ iPhone SE
$mobile: 576px; // $reflex-xs
$tablet: 768px; // $reflex-sm
$tablet-lg: 992px; // $reflex-md
$laptop: 1200px; // $reflex-lg
$laptop-lg: 1440px; // 15" laptop
$desktop: 1600px; // $reflex-xlg
