$black: #121212;
$white: #FFFFFF;

$red: #F44336; // MD Red 500
$green: #4CAF50; // MD Green 500
$blue: #2196F3; // MD Blue 500

$transparent-black: rgba(0, 0, 0, 0);
$transparent-white: rgba(255, 255, 255, 0);
$transparent: $transparent-white;
