$black: #000000;
$white: #FFFFFF;

$gray-lighter: #EEEEEE; // MD Gray 200
$gray-light: #BDBDBD; // MD Gray 400
$gray: #9E9E9E; // MD Gray 500
$gray-dark: #424242; // MD Gray 800
$gray-darker: #212121; // MD Gray 900
$gray-darkest: #121212;

$red: #F44336; // MD Red 500
$green: #4CAF50; // MD Green 500
$blue: #2196F3; // MD Blue 500

$pink: #E91E63; // MD Pink 500
$orange: #FF9800; // MD Orange 500
$cyan: #00ACC1; // MD Cyan 500

$transparent-black: rgba(0, 0, 0, 0);
$transparent-white: rgba(255, 255, 255, 0);
$transparent: $transparent-white;

$showdown-background-light: #EEF2F5;
$showdown-background-dark: #444444;
