$primary: (
  font-family: #{'Work Sans', sans-serif},
  font-stretch: normal,
  font-weight: 400,
);

$mono: (
  font-family: #{'Fira Code', monospace},
  font-stretch: normal,
  font-weight: 400,
);
