@use 'config/colors';
@use 'config/fonts';
@use 'functions/color';
@use 'mixins/flex';
@use 'mixins/font';
@use 'mixins/spacing';
@use 'mixins/transition';

.container {
  grid-template-columns: minmax(0, 1fr) repeat(2, minmax(0, 1.1fr)) minmax(0, 1fr);
  column-gap: 10px;

  &.doubles {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    column-gap: 6px;
  }
}

.label {
  @include spacing.margin($bottom: 4px);
  @include font.apply(fonts.$primary, ( font-weight: 500 ));
  @include transition.apply(color);

  .light & {
    color: color.alpha(colors.$black, 0.8);

    &.legacy {
      color: color.alpha(colors.$black, 0.32);
    }
  }

  .dark & {
    color: color.alpha(colors.$white, 0.8);

    &.legacy {
      color: color.alpha(colors.$white, 0.32);
    }
  }
}

.dropdownLabel {
  @include flex.row-center;

  .doubles & {
    @include spacing.margin($bottom: 0);

    &.weatherLabel {
      grid-area: 1 / 1;
    }

    &.terrainLabel {
      grid-area: 1 / 2;
    }
  }

  button.labelToggleButton {
    @include spacing.margin($left: 8px);
    font-size: 8px;
  }
}

.leftFieldLabel {
  @include spacing.margin($left: 8px);

  &.spectating {
    @include spacing.margin($left: 4px);
  }

  .doubles & {
    grid-area: 3 / 1;
    @include spacing.margin($top: 4px, $left: 10px);
  }
}

.leftFieldInput {
  .doubles & {
    grid-area: 4 / 1;
    @include spacing.margin($top: 1px);
  }
}

// .weatherLabel {
//   .doubles & {
//     grid-area: 1 / 1;
//     @include spacing.margin($bottom: 0);
//   }
// }

.weatherInput {
  align-self: flex-start;
  max-width: 152px;
  @include spacing.margin($x: auto);

  .doubles & {
    grid-area: 2 / 1;
    @include spacing.margin($top: 4px, $bottom: 10px);

    // .verySmol & {
    //   @include spacing.margin($x: 10px);
    // }
  }
}

// .terrainLabel {
//   .doubles & {
//     grid-area: 1 / 2;
//     @include spacing.margin($bottom: 0);
//   }
// }

.terrainInput {
  align-self: flex-start;
  max-width: 152px;
  @include spacing.margin($x: auto);

  .doubles & {
    grid-area: 2 / 2;
    @include spacing.margin($top: 4px, $bottom: 10px);

    // .verySmol & {
    //   @include spacing.margin($x: 10px);
    // }
  }
}

.rightFieldLabel {
  @include spacing.margin($right: 8px);

  &.spectating {
    @include spacing.margin($right: 4px);
  }

  .doubles & {
    grid-area: 3 / 2;
    @include spacing.margin($top: 4px, $right: 10px);
  }
}

.rightFieldInput {
  .doubles & {
    grid-area: 4 / 2;
    @include spacing.margin($top: 1px);
  }
}

button.toggleButton {
  min-width: 60px;
  @include spacing.margin($all: 1px);
  @include spacing.padding($x: 4px);
  font-size: 10px;
  text-transform: none;

  .doubles & {
    min-width: 58px;
  }
}

.tooltipContent {
  text-align: center;
  white-space: normal;
  user-select: none;
}

.descTooltip {
  max-width: 165px;
}
