@use 'config/colors';
@use 'config/fonts';
@use 'mixins/font';
@use 'mixins/flex';
@use 'mixins/spacing';
@use 'mixins/transition';

.container {
  position: relative;
  @include flex.column-center($inline: true);
  @include font.apply(fonts.$primary);
  color: inherit;
  @include transition.apply(color, opacity);
  user-select: none;

  &:not(.disabled):hover {
    color: colors.$blue;
    opacity: 1;
  }

  &.disabled {
    opacity: 0.32;
    pointer-events: none;
  }
}

.icon {
  width: 24px;
  height: 24px;
  @include spacing.margin($bottom: 6px);
}

.label {
  font-weight: 600;
  font-size: 10px;
  color: inherit;
  letter-spacing: 0.01px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
