@use 'sass:math';
@use 'config/colors';
@use 'config/fonts';
@use 'functions/color';
@use 'mixins/flex';
@use 'mixins/font';
@use 'mixins/position';
@use 'mixins/spacing';
@use 'mixins/transition';

.container {
  @include position.absolute-fill;
  @include transition.apply(background-color);
  overflow: hidden;

  &, *, *::before, *::after {
    box-sizing: border-box;
  }

  &.light {
    color: colors.$black;
    background-color: color.alpha(colors.$showdown-background-light, 0.85);
  }

  &.dark {
    color: colors.$white;
    // background-color: color.alpha(colors.$showdown-background-dark, 0.8);
    background-color: color.alpha(#121212, 0.8);
  }

  // &::before {
  //   content: '';
  //   @include position.absolute-fill;
  //   pointer-events: none;
  //   z-index: -1;
  // }

  // &.light::before {
  //   background-color: color.alpha(colors.$showdown-background-light, 0.4);
  // }

  // &.dark::before {
  //   background-color: color.alpha(colors.$showdown-background-dark, 0.6);
  // }
}

.content {
  @include position.absolute-fill;
  @include flex.column($justify: space-between);
  // @include spacing.padding-xy($x: 15px, $y: 10px);
  // @include spacing.padding-all(15px);
  @include font.apply(fonts.$primary);
  font-size: 12px;
  // overflow: hidden auto;
  z-index: 1;
}

.inBattle .hideInBattle {
  display: none;
}

.showdexIcon {
  @include position.absolute-anchor($x: 50%, $y: -6em, $y-prop: bottom);
  width: 24em;
  @include transition.apply(opacity);
  pointer-events: none;

  .light & {
    opacity: 0.75;
  }

  .dark & {
    opacity: 0.85;
  }
}

.topContent {
  flex: 1;
  width: 100%;
  @include spacing.padding-xy($x: 25px);
}

.banner {
  position: relative;
  @include flex.column-center;
  // @include spacing.margin($bottom: 15px);
  @include spacing.padding($top: 30px);
  text-align: center;
  user-select: none;
}

.authors {
  @include flex.row-center;
  // @include spacing.padding($left: 7px); // accounting for letter-spacing bug
  font-weight: 300;
  font-size: 12px;
  // letter-spacing: 7px;
  text-transform: uppercase;
  opacity: 0.75;
  // user-select: none;
}

.ampersand {
  @include spacing.margin-xy($x: 10px);
}

.authorButton {
  @include font.apply(fonts.$primary);
  color: inherit;

  .label {
    @include spacing.margin($right: -0.3em);
    font-size: 12px;
    color: inherit;
    // opacity: 0.75;
    letter-spacing: 0.3em;
    text-transform: uppercase;
  }
}

.presents {
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
  text-transform: uppercase;
  opacity: 0.75;
  // user-select: none;
}

.extensionName {
  // @include spacing.padding($top: 5px);
  @include spacing.margin($right: -0.2em);
  font-weight: 700;
  font-size: 40px;
  color: colors.$transparent;
  letter-spacing: 0.2em;
  // text-indent: 0.2em;
  text-transform: uppercase;
  text-shadow: 0 0 15px color.alpha(colors.$black, 0.3);
  background: linear-gradient(65deg, #4A9AC7 1%, #F148CC 99%) 0 0 / 100% 100%;
  background-clip: text;
  @include transition.apply(
    (margin-right, 5s),
    (letter-spacing, 5s),
    (background-position, 5s),
    (background-size, 5s),
  );
  // user-select: none;
  // z-index: 1;

  &:hover {
    @include spacing.margin($right: -0.5em);
    letter-spacing: 0.5em;
    background-position: 50% 0;
    background-size: 200% 100%;
  }
}

.extensionVersion {
  // width: 375px;
  // @include spacing.margin($top: -18px);
  // @include spacing.padding-xy($x: 25px, $y: 15px);
  // @include spacing.padding($top: 10px, $bottom: 7px);
  // @include spacing.padding-xy($y: 5px);
  @include font.apply(fonts.$mono);
  font-size: 10px;
  letter-spacing: 0.15em;
  text-indent: 0.15em;
  // background-color: color.alpha(color.shade(colors.$blue, 30%), 0.75);
  // background-color: color.alpha(colors.$blue, 0.3);
  // border-radius: 50px;
  opacity: 0.65;
  // z-index: 2;

  // .light & {
  //   mix-blend-mode: multiply;
  // }

  // .dark & {
  //   mix-blend-mode: screen;
  // }
}

.instancesContainer {
  position: relative;
  width: 100%;
  height: 30vh;
  @include spacing.margin-xy($y: 25px);
  border-radius: 15px;
  overflow: hidden;
  @include transition.apply(background-color, box-shadow);

  .light & {
    background-color: color.alpha(colors.$white, 0.65);
    // border-color: color.alpha(colors.$white, 0.3);
    box-shadow: (
      0 0 1px color.alpha(colors.$black, 0.15),
      0 0 15px color.alpha(colors.$gray-dark, 0.15),
    );
  }

  .dark & {
    background-color: color.alpha(colors.$black, 0.5);
    // border-color: color.alpha(colors.$black, 0.3);
    box-shadow: (
      0 0 1px color.alpha(colors.$white, 0.3),
      0 0 15px color.alpha(colors.$black, 0.5),
    );
  }
}

.scrollableInstances {
  height: 100%;
  @include spacing.padding-all(10px);
}

.instances {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: 53px;
  column-gap: 10px;
  row-gap: 10px;
  width: 100%;
  height: 100%;
  // height: 30vh;
  // height: 20em;
  // max-height: 250px;
  // @include spacing.margin-xy($y: 25px);
  // @include spacing.padding-all(10px);
  // border: 2px solid;
  // border-radius: 15px;
  // box-shadow: 0 0 10px color.alpha(colors.$black, 0.15);
  // @include transition.apply(background-color, box-shadow);
  // overflow: hidden auto;
  // z-index: 1;

  .inBattle & {
    grid-template-columns: minmax(0, 1fr);
  }
}

.instanceButton {
  grid-area: span 1 / span 1;
}

.empty {
  @include position.absolute-fill;
  @include flex.column-center;
  opacity: 0.65;
  user-select: none;

  .emptyIcon {
    width: 30px;
    min-width: 30px;
    @include spacing.margin($bottom: 10px);
  }

  .emptyLabel {
    max-width: 215px;
    font-size: 12px;
    text-align: center;

    strong {
      font-weight: 600;
    }
  }
}

button.spectateButton {
  @include font.apply(fonts.$primary, ( font-weight: 600 )); // same font-weight as .emptyLabel strong
  font-size: 12px;
  color: inherit;

  &.disabled {
    opacity: 1;
  }

  .spectateButtonLabel {
    font-size: inherit;
    color: inherit;
  }
}

.donations {
  // max-width: 375px;
  // @include spacing.margin($top: 25px, $right: auto, $left: auto);
  @include spacing.margin-xy($x: auto);
  font-size: 10px;
  text-align: center;
  user-select: none;
  // z-index: 1;
}

.donateButton {
  position: relative;
  // width: 300px;
  // height: 45px;
  @include spacing.margin($right: auto, $left: auto);
  @include spacing.padding-xy($x: 35px, $y: 12px);
  @include font.apply(fonts.$primary);
  font-size: 14px;
  color: colors.$transparent;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  // background-color: #000000;
  // background: linear-gradient(55deg, #4265BE 5%, #C3373D 95%) 0 0 / 200% 100%;
  background: linear-gradient(75deg, #4A9AC7 5%, #F148CC 95%) 0 0 / 200% 100%;
  background-clip: text;
  border-radius: 100px;
  // mix-blend-mode: lighten;
  // @include transition.apply(color, (background-position, 500ms));
  @include transition.apply(color, box-shadow);
  // user-select: none;

  .light & {
    box-shadow: (
      0 0 1px color.alpha(colors.$black, 0.3),
      0 0 5px color.alpha(colors.$gray-dark, 0.3),
    );
  }

  .dark & {
    box-shadow: (
      0 0 1px color.alpha(colors.$white, 0.5),
      0 0 10px color.alpha(colors.$black, 0.5),
    );
  }

  &::before {
    content: '';
    @include position.absolute-fill;
    background: linear-gradient(75deg, #4A9AC7 5%, #F148CC 95%) 0 0 / 200% 100%;
    border-radius: 100px;
    opacity: 0;
    // mix-blend-mode: multiply;
    @include transition.apply((background-position, 1.5s), opacity);
    // @include transition.apply(opacity);
    z-index: -1;
  }

  &:hover {
    // color: color.alpha(colors.$blue, 0.75);
    color: colors.$white;
    background-clip: border-box;
    // background-position: 100% 0;

    &::before {
      background-position: 100% 0;
      opacity: 0.65;
    }
  }

  .labelAction {
    font-weight: 600;
  }

  .labelPreposition {
    @include spacing.padding-xy($x: 5px);
    font-weight: 300;
    // text-indent: 5px;
  }

  // .paypalLogo {
  //   // @include spacing.margin($left: 7px);
  //   @include spacing.margin($right: -3px);
  //   height: 20px;
  //   min-height: 20px;
  // }
}

.donateFootnote {
  max-width: 285px + 10px;
  @include spacing.padding-all(5px);
  @include spacing.margin($top: 15px, $right: auto, $left: auto);
  backdrop-filter: blur(3px);
  border-radius: 5px;
  opacity: 0.65;
}

.footer {
  position: relative;
  @include flex.row-between;
  flex: 0 0 73px;
  width: 100%;
  height: 73px;
  // @include spacing.padding($top: 24px, $right: 25px, $bottom: 22px, $left: 25px);
  @include spacing.padding-xy($x: 25px);
  backdrop-filter: blur(3px);
  border-top: 2px solid;
  @include transition.apply(background-color, border-top-color);
  z-index: 1;

  .inBattle & {
    justify-content: center;
  }

  .light & {
    background-color: color.alpha(colors.$white, 0.75);
    border-top-color: color.alpha(colors.$white, 0.15);
  }

  .dark & {
    background-color: color.alpha(colors.$black, 0.7);
    border-top-color: color.alpha(#121212, 0.15);
  }
}

.links {
  @include flex.row($align: center);

  .light & {
    color: colors.$gray-dark;
  }

  & > .linkButton:not(.forumButton):not(:last-child) {
    @include spacing.margin($right: 7px);
  }
}

.settingsButton {
  width: 48px;
  height: 45px;
  @include spacing.margin($right: 20px);
}

.forumButton {
  @include spacing.margin($right: 15px);
}

.linkButton {
  width: 45px;
  height: 45px;

  .light & {
    color: color.alpha(colors.$black, 0.75);
  }

  .dark & {
    color: color.alpha(colors.$white, 0.75);
  }

  .settingsVisible & {
    .light & {
      // color: color.alpha(colors.$black, 0.5);
      opacity: 0.5;
    }

    .dark & {
      // color: color.alpha(colors.$white, 0.5);
      opacity: 0.5;
    }
  }

  .sparkleIcon {
    transform: scale(0.9);
  }

  .bugIcon {
    transform: rotateZ(90deg);
  }

  .clipboardIcon {
    transform: scale(0.85);
  }
}

.credits {
  // @include spacing.margin-xy($y: 30px);
  font-size: 10px;
  text-align: right;
  opacity: 0.6;
  user-select: none;
}

// note: don't use position.absolute-anchor() here cause the BaseButton's
// react-spring will add an inline transform property
.tizeButton {
  @include position.absolute($top: -33%, $right: 25px);
  color: inherit;
  opacity: 0.6;
  @include transition.apply(color, opacity);

  .light & {
    color: colors.$gray-dark;
    opacity: 1;
  }

  &:hover {
    color: colors.$blue;
    opacity: 1;
  }
}

.tizeLogo {
  // @include spacing.margin($bottom: 10px);
  height: 35px;
  min-height: 35px;
}
