@use 'config/colors';
@use 'config/fonts';
@use 'functions/color';
@use 'mixins/flex';
@use 'mixins/font';
@use 'mixins/position';
@use 'mixins/spacing';
@use 'mixins/transition';

$padding-x: 5px;
$padding-y: 2px;

$background-color-light: color.alpha(colors.$white, 0.5);
$background-color-dark: color.alpha(colors.$white, 0.05);
$background-color-light-hover: color.alpha(colors.$black, 0.05);
$background-color-dark-hover: color.alpha(colors.$white, 0.075);
$background-color-light-active: color.alpha(colors.$black, 0.1);
$background-color-dark-active: color.alpha(colors.$white, 0.1);

$border-radius: 5px;

$value-font-size: 10px;
$value-light-color: color.alpha(colors.$black, 0.85);
$value-dark-color: color.alpha(colors.$white, 0.85);
$value-light-color-hover: color.tint(colors.$blue, 15%);
$value-dark-color-hover: $value-light-color-hover;
$value-light-color-active: colors.$black;
$value-dark-color-active: colors.$white;

$multi-value-padding-x: 2px;
$multi-value-padding-y: 1px;
$multi-value-light-border-color: color.alpha(colors.$black, 0.15);
$multi-value-dark-border-color: color.alpha(colors.$white, 0.15);

$placeholder-light-color: color.alpha(colors.$black, 0.3);
$placeholder-dark-color: color.alpha(colors.$white, 0.3);
$placeholder-light-color-hover: $value-light-color-hover;
$placeholder-dark-color-hover: $value-dark-color-hover;
$placeholder-light-color-active: color.alpha(colors.$black, 0.5);
$placeholder-dark-color-active: color.alpha(colors.$white, 0.5);

$icon-size: 10px; // used for the close and chevron icons
$icon-light-color: color.alpha(colors.$black, 0.3);
$icon-dark-color: color.alpha(colors.$white, 0.3);
$icon-light-color-hover: color.alpha(colors.$black, 0.95);
$icon-dark-color-hover: color.alpha(colors.$white, 0.95);

$indicator-separator-width: 1px;
$indicator-separator-margin-x: 3px;
$indicator-separator-light-color: colors.$transparent;
$indicator-separator-dark-color: colors.$transparent;

$menu-gutter: 1px;
$menu-light-background-color: color.alpha(colors.$white, 0.95);
$menu-dark-background-color: color.alpha(colors.$black, 0.95);
$menu-light-border-color: color.alpha(colors.$black, 0.15);
$menu-dark-border-color: color.alpha(colors.$white, 0.15);
$menu-z-index: 10;

$option-padding-x: 3px;
$option-padding-y: 2px;
$option-light-color: colors.$black;
$option-dark-color: colors.$white;
$option-light-background-color: colors.$transparent;
$option-dark-background-color: colors.$transparent;
$option-light-background-color-hover: color.alpha(colors.$black, 0.15);
$option-dark-background-color-hover: color.alpha(colors.$white, 0.15);
$option-light-background-color-focused: color.alpha(colors.$blue, 0.25);
$option-dark-background-color-focused: color.alpha(colors.$blue, 0.25);
$option-light-background-color-focused-hover: color.alpha(colors.$blue, 0.5);
$option-dark-background-color-focused-hover: color.alpha(colors.$blue, 0.5);
$option-light-background-color-selected: color.alpha(colors.$blue, 0.75);
$option-dark-background-color-selected: color.alpha(colors.$blue, 0.75);
$option-light-background-color-selected-hover: color.alpha(colors.$blue, 0.5);
$option-dark-background-color-selected-hover: color.alpha(colors.$blue, 0.5);

$option-sub-label-font-size: 8px;
$option-sub-label-light-color: color.alpha($option-light-color, 0.75);
$option-sub-label-dark-color: color.alpha($option-dark-color, 0.75);

$notice-padding-x: $option-padding-x;
$notice-padding-y: $option-padding-y;
$notice-light-color: color.alpha(colors.$black, 0.5);
$notice-dark-color: color.alpha(colors.$white, 0.5);

$group-padding-x: 1px;

$group-heading-padding-x: $option-padding-x;
$group-heading-padding-y: $option-padding-y;
$group-heading-font-size: 8px;
$group-heading-light-color: color.alpha(colors.$black, 0.75);
$group-heading-dark-color: color.alpha(colors.$white, 0.75);
$group-heading-light-background-color: color.alpha(colors.$black, 0.125);
$group-heading-dark-background-color: color.alpha(colors.$white, 0.125);

.container {
  position: relative;
}

// SelectContainer

.selectContainer {
  position: relative;
  @include flex.row;
  border-radius: $border-radius;
  @include transition.apply(background-color);

  .light & {
    background-color: $background-color-light;
  }

  .dark & {
    background-color: $background-color-dark;
  }

  .light &:hover {
    background-color: $background-color-light-hover;
  }

  .dark &:hover {
    background-color: $background-color-dark-hover;
  }

  .light &.active {
    background-color: $background-color-light-active;
  }

  .dark &.active {
    background-color: $background-color-dark-active;
  }

  &.rtl {
    direction: rtl;
  }

  &.disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}

// SelectControl

.control {
  position: relative;
  @include flex.row-between;
  // flex-wrap: wrap;
  width: 100%;
  @include spacing.padding-xy($padding-x, $padding-y);
  outline: none;

  i:global(.fa) {
    font-size: $icon-size;
  }
}

// SelectValueContainer

.valueContainer {
  position: relative;
  @include flex.row($align: center);
  flex: 1;
  flex-wrap: wrap;
  @include transition.apply(color);
  cursor: text;

  .light & {
    color: $value-light-color;
  }

  .dark & {
    color: $value-dark-color;
  }
}

.value {
  position: relative;

  // &.single {
  //   width: 100%;
  // }

  &.multi {
    @include flex.row;
    flex-wrap: wrap;
  }
}

// SelectPlaceholder

.placeholder {
  @include position.absolute-anchor($y: 50%);
  font-size: $value-font-size;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  @include transition.apply(color);
  user-select: none;
  pointer-events: none;

  .light & {
    color: $placeholder-light-color;
  }

  .dark & {
    color: $placeholder-dark-color;
  }

  .light .selectContainer:not(.active):hover & {
    color: $placeholder-light-color-hover;
  }

  .dark .selectContainer:not(.active):hover & {
    color: $placeholder-dark-color-hover;
  }

  .light .selectContainer.active & {
    color: $placeholder-light-color-active;
  }

  .dark .selectContainer.active & {
    color: $placeholder-dark-color-active;
  }
}

// SelectInput

.inputContainer {
  display: inline-grid;
  // grid-template-columns: 0 max-content;
  grid-template-columns: 0 1fr;
  // flex: 1 1 auto;

  &::after {
    content: attr(data-value) ' ';
    grid-area: 1 / 2;
    min-width: 2px;
    @include spacing.margin-none;
    @include spacing.padding-none;
    border: none;
    outline: none;
    white-space: nowrap;
    visibility: hidden;
  }

  &.disabled {
    visibility: hidden;
  }
}

.input {
  grid-area: 1 / 2;
  // width: 100%;
  min-width: 2px;
  @include spacing.margin-none;
  @include spacing.padding-none;
  @include font.apply(fonts.$mono);
  font-size: $value-font-size;
  background: none;
  border: none;
  outline: none;
  opacity: 1;

  .light & {
    color: $value-light-color;
  }

  .dark & {
    color: $value-dark-color;
  }

  &.hidden {
    opacity: 0;
  }
}

// SelectGroup

.group {
  @include spacing.padding-xy($x: $group-padding-x);
}

// SelectGroupHeading

.groupHeading {
  display: block;
  @include spacing.margin-xy($x: -1px);
  @include spacing.padding-xy($x: $group-heading-padding-x, $y: $group-heading-padding-y);
  font-size: $group-heading-font-size;
  text-transform: uppercase;
  user-select: none;
  cursor: default;

  .light & {
    color: $group-heading-light-color;
    background-color: $group-heading-light-background-color;
  }

  .dark & {
    color: $group-heading-dark-color;
    background-color: $group-heading-dark-background-color;
  }
}

// SelectSingleValue

.singleValue {
  @include position.absolute-anchor($y: 50%);
  max-width: 98%;
  font-size: $value-font-size;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  @include transition.apply(color);
}

// SelectMultiValue

.mutliValue {
  @include flex.row-center;
  @include spacing.margin-xy($multi-value-padding-x, $multi-value-padding-y);
  font-size: $value-font-size - ($multi-value-padding-y * 2);
  border: 1px solid colors.$transparent;

  .light & {
    border-color: $multi-value-light-border-color;
  }

  .dark & {
    border-color: $multi-value-dark-border-color;
  }
}

.valueLabel {
  @include spacing.padding-xy($multi-value-padding-x, $multi-value-padding-y);
  font-size: $value-font-size - ($multi-value-padding-y * 2);
  white-space: nowrap;
  overflow: hidden;

  &.crop {
    text-overflow: ellipsis;
  }
}

.remove {
  @include flex.row-center;
  @include spacing.padding($right: $multi-value-padding-x);
  @include transition.apply(color);
  cursor: pointer;

  .light & {
    color: $icon-light-color;
  }

  .dark & {
    color: $icon-dark-color;
  }

  .light &:hover {
    color: $icon-light-color-hover;
  }

  .dark &:hover {
    color: $icon-dark-color-hover;
  }
}

// SelectIndicatorsContainer

.indicatorsContainer {
  @include flex.row($align: center);
  flex-shrink: 0;
  align-self: stretch;
}

.indicator {
  display: flex;
  @include transition.apply(color);
  cursor: pointer;

  .light & {
    color: $icon-light-color;
  }

  .dark & {
    color: $icon-dark-color;
  }

  .light &:hover {
    color: $icon-light-color-hover;
  }

  .dark &:hover {
    color: $icon-dark-color-hover;
  }
}

// SelectDropdownIndicator

.dropdownIndicator i {
  @include transition.apply(transform);

  .menuOpen & {
    transform: rotate(-180deg);
  }
}

// SelectIndicatorSeparator

.indicatorSeparator {
  align-self: stretch;
  width: $indicator-separator-width;
  @include spacing.margin-xy($indicator-separator-margin-x);

  .light & {
    background: $indicator-separator-light-color;
  }

  .dark & {
    background: $indicator-separator-dark-color;
  }
}

// SelectMenu

.menu {
  position: absolute;
  width: 100%;
  @include spacing.margin-xy(0, $menu-gutter);
  border-radius: $border-radius;
  border: 1px solid colors.$transparent;
  overflow: hidden;
  z-index: $menu-z-index;

  .light & {
    background-color: $menu-light-background-color;
    border-color: $menu-light-border-color;
  }

  .dark & {
    background-color: $menu-dark-background-color;
    border-color: $menu-dark-border-color;
  }

  &.placementTop {
    bottom: 100%;
  }

  &.placementBottom {
    top: 100%;
  }
}

// SelectMenuList

.menuList {
  position: relative;
  // overflow-y: auto;
  overflow-x: hidden;
}

// SelectOption

.option {
  @include flex.column;
  width: 100%;
  @include spacing.padding-xy($option-padding-x, $option-padding-y);
  font-size: $value-font-size;
  @include transition.apply(background-color);
  user-select: none;
  cursor: pointer;

  .light & {
    background-color: $option-light-background-color;
  }

  .dark & {
    background-color: $option-dark-background-color;
  }

  .light &:hover {
    background-color: $option-light-background-color-hover;
  }

  .dark &:hover {
    background-color: $option-dark-background-color-hover;
  }

  .light &.focused {
    background-color: $option-light-background-color-focused;

    &:hover {
      background-color: $option-light-background-color-focused-hover;
    }
  }

  .dark &.focused {
    background-color: $option-dark-background-color-focused;

    &:hover {
      background-color: $option-dark-background-color-focused-hover;
    }
  }

  .light &.selected {
    background-color: $option-light-background-color-selected;

    &:hover {
      background-color: $option-light-background-color-selected-hover;
    }
  }

  .dark &.selected {
    background-color: $option-dark-background-color-selected;

    &:hover {
      background-color: $option-dark-background-color-selected-hover;
    }
  }
}

.optionLabel {
  .light & {
    color: $option-light-color;
  }

  .dark & {
    color: $option-dark-color;
  }
}

.optionSubLabel {
  font-size: $option-sub-label-font-size;

  .light & {
    color: $option-sub-label-light-color;
  }

  .dark & {
    color: $option-sub-label-dark-color;
  }
}

.optionItem {
  &:first-child {
    border-radius: $border-radius $border-radius 0 0;
  }

  &:last-child {
    border-radius: 0 0 $border-radius $border-radius;
  }
}

// SelectNotice

.notice {
  @include spacing.padding-xy($notice-padding-x, $notice-padding-y);
  font-size: $value-font-size;
  text-align: center;
  user-select: none;

  .light & {
    color: $notice-light-color;
  }

  .dark & {
    color: $notice-dark-color;
  }
}
