@use 'config/colors';
@use 'functions/color';
@use 'mixins/position';
@use 'mixins/spacing';
@use 'mixins/transition';

$padding-x: 5px;
$padding-y: 1px;

// $background-color: color.alpha(colors.$white, 0.5);
$background-color: colors.$transparent;
$background-color-hover: color.alpha(colors.$white, 0.05);
$background-color-active: color.alpha(colors.$black, 0.3);

// $border-color: colors.$transparent;
// $border-color-hover: color.alpha(colors.$black, 0.15);
// $border-color-active: color.alpha(colors.$blue, 0.25);
$border-radius: 15px;

.container {
  position: relative;
  // @include spacing.padding-xy($padding-x, $padding-y);
  background-color: $background-color;
  border-radius: $border-radius;
  // border: 2px solid $border-color;
  @include transition.apply(background-color);

  &:not(.absoluteHover) {
    &:hover {
      background-color: $background-color-hover;
      // border-color: $border-color-hover;
    }

    &:active {
      background-color: $background-color-active;
      // border-color: $border-color-active;
    }
  }

  &.absoluteHover {
    // basically a reproduction of .container lol
    &::before {
      content: '';
      @include position.absolute-xy(-$padding-x, -$padding-y);
      background-color: $background-color;
      border-radius: $border-radius;
      @include transition.apply(background-color);
      user-select: none;
      pointer-events: none;
    }

    &:hover::before {
      background-color: $background-color-hover;
    }

    &:active::before {
      background-color: $background-color-active;
    }
  }

  &.disabled {
    opacity: 0.3;
  }
}

$label-font-size: 10px;
$label-color: color.tint(colors.$blue, 15%);
$label-color-hover: color.shade(colors.$blue, 15%);
$label-color-active: color.alpha(colors.$blue, 0.75);

.label {
  @include spacing.margin-xy($padding-x, $padding-y);
  font-size: $label-font-size;
  color: $label-color;
  @include transition.apply(color);
  user-select: none;
  pointer-events: none;

  .absoluteHover & {
    @include spacing.margin-none;
  }

  .container:hover & {
    color: $label-color-hover;
  }

  .container:active & {
    color: $label-color-active;
  }
}
