@use 'config/colors';
@use 'functions/color';
@use 'mixins/position';
@use 'mixins/spacing';
@use 'mixins/transition';

$padding-x: 5px;
$padding-y: 1px;

$background-color-light: colors.$transparent;
$background-color-dark: colors.$transparent;
$background-color-light-hover: color.alpha(colors.$black, 0.05);
$background-color-dark-hover: color.alpha(colors.$white, 0.075);
$background-color-light-active: color.alpha(colors.$white, 0.3);
$background-color-dark-active: color.alpha(colors.$black, 0.3);

$border-radius: 15px;

.container {
  position: relative;
  border-radius: $border-radius;
  @include transition.apply(background-color);

  &.light {
    background-color: $background-color-light;
  }

  &.dark {
    background-color: $background-color-dark;
  }

  &:not(.absoluteHover) {
    &.light:hover {
      background-color: $background-color-light-hover;
    }

    &.dark:hover {
      background-color: $background-color-dark-hover;
    }

    &.light:active {
      background-color: $background-color-light-active;
    }

    &.dark:active {
      background-color: $background-color-dark-active;
    }
  }

  &.absoluteHover {
    // basically a reproduction of .container lol
    &::before {
      content: '';
      @include position.absolute-xy(-$padding-x, -$padding-y);
      border-radius: $border-radius;
      @include transition.apply(background-color);
      user-select: none;
      pointer-events: none;
    }

    &.light {
      background-color: $background-color-light;
    }

    &.dark {
      background-color: $background-color-dark;
    }

    &.light:hover::before {
      background-color: $background-color-light-hover;
    }

    &.dark:hover::before {
      background-color: $background-color-dark-hover;
    }

    &.light:active::before {
      background-color: $background-color-light-active;
    }

    &.dark:active::before {
      background-color: $background-color-light-active;
    }
  }

  &.disabled {
    opacity: 0.3;
  }
}

$label-font-size: 10px;
$label-color: color.tint(colors.$blue, 15%);
$label-color-hover: color.shade(colors.$blue, 15%);
$label-color-active: color.alpha(colors.$blue, 0.75);

.label {
  @include spacing.margin-xy($padding-x, $padding-y);
  font-size: $label-font-size;
  color: $label-color;
  @include transition.apply(color);
  user-select: none;
  pointer-events: none;

  .absoluteHover & {
    @include spacing.margin-none;
  }

  .container:hover & {
    color: $label-color-hover;
  }

  .container:active & {
    color: $label-color-active;
  }
}
