@use 'config/colors';
@use 'config/fonts';
@use 'functions/color';
@use 'mixins/font';
@use 'mixins/spacing';

$type-unknown-color: #424242;
$type-colors: (
  normal: #90905D,
  fighting: #81201B,
  flying: #8563EA,
  poison: #7C317C,
  ground: #D1A42B,
  rock: #917E2C,
  bug: #808D18,
  ghost: #584578,
  steel: #9999BC,
  fire: #DD6510,
  water: #3A6EEB,
  grass: #549B31,
  electric: color.shade(#FDD835, 15%),
  psychic: color.shade(#F62765, 10%),
  ice: color.shade(#73CACA, 10%),
  dragon: #4D09F4,
  dark: #41332A,
  fairy: #E76D88,
);

$type-color-light-tint: 10%;

$label-light-opacity: 1;
$label-dark-opacity: 1;
$background-opacity-light: 0.85;
$background-opacity-unknown-light: 0.5;
$background-opacity-dark: 0.5;

.container {
  display: inline-block;
  width: 36px;
  @include spacing.padding-xy($y: 1px);
  @include font.apply(fonts.$mono);
  font-size: 8px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 color.alpha(colors.$black, 0.3);
  border-radius: 5px;
  user-select: none;
  pointer-events: none;

  &.light {
    color: color.alpha(colors.$white, $label-light-opacity);
    background-color: color.alpha($type-unknown-color, $background-opacity-unknown-light);
  }

  &.dark {
    color: color.alpha(colors.$white, $label-dark-opacity);
    background-color: color.alpha($type-unknown-color, $background-opacity-dark);
  }

  @each $type, $color in $type-colors {
    &.light.type-#{$type} {
      background-color: color.alpha(
        color.tint($color, $type-color-light-tint),
        $background-opacity-light,
      );
    }

    &.dark.type-#{$type} {
      background-color: color.alpha($color, $background-opacity-dark);
    }
  }
}
