@use 'mixins/position';

.container {
  position: relative;
  width: 40px;
  height: 30px;
  image-rendering: pixelated;
}

.itemIcon {
  @include position.absolute-anchor($x: -7%, $y: -17%, $x-prop: right, $y-prop: bottom);
  opacity: 0.8;
  transform: scale(0.75);
}
