@use 'config/colors';
@use 'functions/color';
@use 'mixins/position';
@use 'mixins/transition';

$height: 4px;
$border-radius: 15px;

.container {
  position: relative;
  display: inline-block;
  // width: 85px; // set via `width` prop
  height: $height;
  border-radius: $border-radius;
  user-select: none;
  pointer-events: none;

  &.light {
    background-color: color.alpha(colors.$black, 0.15);
  }

  &.dark {
    background-color: color.alpha(colors.$white, 0.15);
  }
}

.value {
  @include position.absolute($top: 0, $bottom: 0, $left: 0);
  display: inline-block;
  width: 100%;
  background-color: colors.$blue;
  border-radius: $border-radius;
  @include transition.apply(width, background-color);

  // &.red {
  //   background-color: colors.$red;
  // }

  // &.yellow {
  //   background-color: #FF8F00;
  // }

  // &.green {
  //   background-color: colors.$green;
  // }
}
