@use 'config/colors';
@use 'config/fonts';
@use 'functions/color';
@use 'mixins/flex';
@use 'mixins/font';
@use 'mixins/position';
@use 'mixins/spacing';
@use 'mixins/transition';

.container {
  grid-template-columns: minmax(150px, 1.25fr) minmax(0, 1.15fr) minmax(0, 1fr);
  column-gap: 10px;
  row-gap: 3px;
  @include spacing.margin($top: 15px);
  @include spacing.padding($top: 8px, $right: 10px, $bottom: 10px, $left: 10px);
  border-radius: 10px;
  @include transition.apply(background-color, box-shadow);

  &.verySmol {
    grid-template-columns: minmax(0, 1.25fr) minmax(0, 1.15fr) minmax(0, 1fr);
  }

  // &.veryThicc {
  //   max-width: 500px;
  //   @include spacing.margin-xy($x: auto);
  // }

  &.light {
    background-color: color.alpha(colors.$white, 0.6);
    box-shadow: (
      0 0 1px color.alpha(colors.$black, 0.15),
      0 0 15px color.alpha(colors.$gray-dark, 0.15),
    );
  }

  &.dark {
    background-color: color.alpha(#121212, 0.85);
    box-shadow: (
      0 0 1px color.alpha(colors.$white, 0.3),
      0 0 15px color.alpha(colors.$black, 0.5),
    );
  }
}

.header {
  @include spacing.margin($bottom: 2px);
}

.headerTitle {
  @include spacing.margin($bottom: 0.5px);
  @include font.apply(fonts.$primary, ( font-weight: 500 ));
}

.movesHeader {
  @include flex.row($align: center);
  @include spacing.margin($left: 5px);
}

.dmgHeader {
  @include flex.row-center;
}

.editorHeader {
  grid-area: span 1 / span 2;
}

.label {
  font-weight: 500;
  text-transform: uppercase;
  user-select: none;

  .light & {
    color: color.alpha(colors.$black, 0.75);
  }

  .dark & {
    color: color.alpha(colors.$white, 0.75);
  }
}

.moveTooltip {
  @include flex.column-center;
  max-width: 160px;
  white-space: normal;
  user-select: none;
}

.moveDescription {
  @include spacing.margin($bottom: 0.4em);
  text-align: center;
}

.moveProperties {
  @include flex.row-center;
  font-size: 8px;
}

.moveType {
  @include spacing.margin($right: 0.8em);
}

.moveProperty {
  @include flex.row($align: center);

  &:not(:last-of-type) {
    @include spacing.margin($right: 0.8em);
  }

  .propertyName {
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0.75;
  }

  .propertyValue {
    @include spacing.margin($left: 0.5em);
    @include font.apply(fonts.$mono);
    font-size: 10px;
  }
}

.deltaValue {
  @include transition.apply(color);

  &.positive {
    color: colors.$green;
  }

  &.negative {
    color: colors.$red;
  }

  &.dark {
    &.positive {
      color: color.shade(colors.$green, 10%);
    }

    &.negative {
      color: color.shade(colors.$red, 10%);
    }
  }
}

button.toggleButton {
  @include spacing.margin($left: 0.5em);
  font-size: 8px;

  &.lessSpacing {
    @include spacing.margin($left: 0.25em);
  }
}

button.editButton {
  // @include spacing.margin($right: -3px, $left: 2px);
  @include spacing.margin($left: 2px);

  // &.hideButton {
  //   @include spacing.margin($left: 3px);
  // }
}

button.ultButton {
  min-width: 25px;
}

button.damageButton {
  .light &:not(:hover):not(.active) .damageButtonLabel.noDamage {
    color: color.alpha(colors.$black, 0.5);
  }

  .dark &:not(:hover):not(.active) .damageButtonLabel.noDamage {
    color: color.alpha(colors.$white, 0.5);
  }

  // by default, a disabled button will have 0.3 opacity
  &.disabled {
    opacity: 1;
  }
}

.damageButtonLabel {
  .light & {
    color: colors.$black;
  }

  .dark & {
    color: colors.$white;
  }

  &.noCopy.noDamage {
    .light & {
      color: color.alpha(colors.$black, 0.5);
    }

    .dark & {
      color: color.alpha(colors.$white, 0.5);
    }
  }
}

.copiedBadge {
  @include position.absolute($top: -3px, $left: 50%);
  white-space: nowrap;
}

.descTooltip {
  position: relative;
  max-width: 200px;
  text-align: center;
  white-space: normal;
  user-select: none;

  .ultUsage {
    font-size: 8px;
    text-transform: uppercase;
    @include transition.apply(color, opacity);

    &.available {
      color: colors.$blue;
    }

    &.consumed {
      opacity: 0.75;
    }
  }
}

.editorItem {
  grid-area: span 1 / span 2;
  @include flex.row-between;
  @include spacing.margin($left: 5px);

  .moveProperty {
    font-size: 8px;
    user-select: none;
  }

  .valueField {
    max-width: 22px;
    @include spacing.margin($right: 0.8em);

    &::before {
      @include position.absolute-xy($x: -3px, $y: 0); // remove "padding" from absoluteHover
    }
  }

  // .valueFieldInput {
  //   font-size: 8px;
  // }
}

.editorLeft {
  @include flex.row($align: center);
}

.editorRight {
  text-align: right;
}

button.editorButton {
  font-size: 8px;
  @include transition.apply(color, background-color, box-shadow, opacity);

  &.readOnly {
    user-select: none;
    pointer-events: none;
  }
}

button.categoryButton {
  width: 32px;
  @include spacing.margin-xy($x: 0.8em);
  font-weight: 500;
}
