@use 'config/colors';
@use 'functions/color';
@use 'mixins/spacing';

$status-unknown-color: #424242;
$status-colors: (
  brn: #A84331,
  frz: #2C9191,
  par: #DBCB37,
  psn: #A735A7,
  slp: #304E7C,
  tox: #802480,
  fnt: #455A64,
);

$label-opacity-light: 1;
$label-opacity-dark: 0.75;
$background-opacity-light: 0.5;
$background-opacity-dark: 0.3;

.container {
  display: inline-block;
  width: 24px;
  @include spacing.padding-xy($y: 1px);
  font-size: 8px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 color.alpha(colors.$black, 0.3);
  border-radius: 5px;
  user-select: none;
  pointer-events: none;

  &.light {
    color: color.alpha(colors.$white, $label-opacity-light);
    background-color: color.alpha($status-unknown-color, $background-opacity-light);
  }

  &.dark {
    color: color.alpha(colors.$white, $label-opacity-dark);
    background-color: color.alpha($status-unknown-color, $background-opacity-dark);
  }

  @each $status, $color in $status-colors {
    &.light.#{$status} {
      background-color: color.alpha($color, $background-opacity-light);
    }

    &.dark.#{$status} {
      background-color: color.alpha($color, $background-opacity-dark);
    }
  }
}
