@use 'config/colors';
@use 'functions/color';
@use 'mixins/spacing';

$status-unknown-color: #424242;
$status-colors: (
  brn: #A84331,
  frz: #2C9191,
  par: #DBCB37,
  psn: #A735A7,
  slp: #304E7C,
  tox: #802480,
  fnt: #607883,
);

$status-color-light-shade: 10%;

$label-opacity-light: 1;
$label-opacity-dark: 1;
$background-opacity-light: 0.85;
$background-opacity-fnt-light: 0.3;
$background-opacity-dark: 0.5;
$background-opacity-fnt-dark: 0.3;

.container {
  display: inline-block;
  width: 26px;
  @include spacing.padding-xy($y: 1px);
  font-size: 8px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 color.alpha(colors.$black, 0.3);
  border-radius: 5px;
  user-select: none;
  pointer-events: none;

  &.light {
    color: color.alpha(colors.$white, $label-opacity-light);
    background-color: color.alpha($status-unknown-color, $background-opacity-light);
  }

  &.dark {
    color: color.alpha(colors.$white, $label-opacity-dark);
    background-color: color.alpha($status-unknown-color, $background-opacity-dark);
  }

  @each $status, $color in $status-colors {
    $light-opacity: if($status == 'fnt', $background-opacity-fnt-light, $background-opacity-light);
    $dark-opacity: if($status == 'fnt', $background-opacity-fnt-dark, $background-opacity-dark);

    &.#{$status} {
      &.light {
        background-color: color.alpha(
          color.shade($color, $status-color-light-shade),
          $light-opacity,
        );
      }

      &.dark {
        background-color: color.alpha($color, $dark-opacity);
      }
    }
  }
}
