@use 'config/colors';
@use 'config/fonts';
@use 'functions/color';
@use 'mixins/device';
@use 'mixins/font';
@use 'mixins/position';
@use 'mixins/spacing';

.overlayContainer {
  // positioning based off of those of .battle-log
  // (except for bottom: 40px cause it'll overlay on top of the .battle-log-add)
  // (also + 1px for the border-width)
  @include position.absolute($top: 0, $right: 0, $bottom: 0, $left: 640px + 1px);
  z-index: 5;

  @include device.for-mobile {
    right: 0;
    left: 0;
  }
}

.container {
  @include position.absolute-fill;
  overflow: hidden;

  // &, *, *::before, *::after {
  //   box-sizing: border-box;
  // }

  // initially added this as a potential fix for the closing dropdown bug on mouse-up,
  // but turns out it was an issue with the .singleValue, which I just added pointer-events: none;,
  // which seemed to do the trick lol. leaving this here, but it does nothing I don't think.
  &.overlay {
    position: relative;
    @include position.unset-all;
    width: 100%;
    height: 100%;
  }

  &.light {
    color: colors.$black;
  }

  &.dark {
    color: colors.$white;
  }

  &::before {
    content: '';
    @include position.absolute-fill;
    pointer-events: none;
    // z-index: -1;
  }

  &.light {
    &::before {
      background-color: color.alpha(colors.$showdown-background-light, 0.8);
    }

    &.overlay::before {
      // background-color: color.alpha(colors.$showdown-background-light, 0.9);
      background-color: colors.$showdown-background-light;
    }
  }

  &.dark {
    &::before {
      // background-color: color.alpha(colors.$showdown-background-dark, 0.85);
      background-color: color.alpha(#121212, 0.85);
    }

    &.overlay::before {
      // background-color: color.alpha(colors.$black, 0.9);
      background-color: #121212;
    }
  }
}

.content {
  @include position.absolute-fill;
  // max-height: 100%;
  @include spacing.padding-xy($x: 15px, $y: 10px);
  @include font.apply(fonts.$mono);
  font-size: 10px;
  // overflow: hidden auto;
  overflow-x: hidden;

  // hr {
  //   width: 100%;
  //   height: 1px;
  //   @include spacing.margin-xy($y: 5px);
  //   margin-block-start: 0;
  //   margin-block-end: 0;
  //   border: none;
  //   outline: none;
  //   user-select: none;
  // }

  // .light & hr {
  //   background-color: color.alpha(colors.$black, 0.15);
  // }

  // .dark & hr {
  //   background-color: color.alpha(colors.$white, 0.15);
  // }
}

.section {
  max-width: 650px;
}

.fieldCalc {
  @include spacing.margin($top: 13px);
}

.opponentCalc {
  @include spacing.margin($top: 10px);
}

div.topCloseButton {
  justify-content: flex-start;
  @include spacing.margin($top: 3px, $bottom: 5px);
}

div.bottomCloseButton {
  @include spacing.margin($top: 10px, $bottom: 3px);
}
