@use 'config/colors';
@use 'config/fonts';
@use 'functions/color';
@use 'mixins/font';
@use 'mixins/position';
@use 'mixins/spacing';

.container {
  @include position.absolute-fill;
  overflow: hidden;

  &.light {
    color: colors.$black;
  }

  &.dark {
    color: colors.$white;
  }

  &::before {
    content: '';
    @include position.absolute-fill;
    pointer-events: none;
    z-index: -1;
  }

  &.light::before {
    background-color: color.alpha(colors.$showdown-background-light, 0.4);
  }

  &.dark::before {
    background-color: color.alpha(colors.$showdown-background-dark, 0.6);
  }
}

.content {
  @include position.absolute-fill;
  // max-height: 100%;
  @include spacing.padding-xy($x: 15px, $y: 10px);
  @include font.apply(fonts.$mono);
  font-size: 10px;
  // overflow: hidden auto;
  overflow-x: hidden;

  hr {
    width: 100%;
    height: 1px;
    @include spacing.margin-xy($y: 5px);
    margin-block-start: 0;
    margin-block-end: 0;
    border: none;
    outline: none;
    user-select: none;
  }

  .light & hr {
    background-color: color.alpha(colors.$black, 0.15);
  }

  .dark & hr {
    background-color: color.alpha(colors.$white, 0.15);
  }
}

.fieldCalc {
  @include spacing.margin($top: 15px);
}

.opponentCalc {
  @include spacing.margin($top: 15px);
}
