@use 'config/colors';
@use 'config/fonts';
@use 'functions/color';
@use 'mixins/aria';
@use 'mixins/device';
@use 'mixins/flex';
@use 'mixins/font';
@use 'mixins/position';
@use 'mixins/spacing';
@use 'mixins/transition';

.overlayContainer {
  // positioning based off of those of .battle-log
  // (except for bottom: 40px cause it'll overlay on top of the .battle-log-add)
  // (also + 1px for the border-width)
  @include position.absolute($top: 0, $right: 0, $bottom: 0, $left: 640px + 1px);
  z-index: 15;

  @include device.for-mobile {
    right: 0;
    left: 0;
  }
}

.container {
  @include position.absolute-fill;
  overflow: hidden;
  z-index: 15; // z-index of the close buttons in the tabs is 11 lol

  // &, *, *::before, *::after {
  //   box-sizing: border-box;
  // }

  // initially added this as a potential fix for the closing dropdown bug on mouse-up,
  // but turns out it was an issue with the .singleValue, which I just added pointer-events: none;,
  // which seemed to do the trick lol. leaving this here, but it does nothing I don't think.
  &.overlay {
    position: relative;
    @include position.unset-all;
    width: 100%;
    height: 100%;
    z-index: unset;
  }

  &.light {
    color: colors.$black;
  }

  &.dark {
    color: colors.$white;
  }

  &::before {
    content: '';
    @include position.absolute-fill;
    pointer-events: none;
  }

  &.light {
    &::before {
      background-color: color.alpha(colors.$showdown-background-light, 0.88);
    }

    &.overlay::before {
      background-color: colors.$showdown-background-light;
    }
  }

  &.dark {
    &::before {
      background-color: color.alpha(colors.$gray-darkest, 0.88);
    }

    &.overlay::before {
      background-color: colors.$gray-darkest;
    }
  }

  &.glassy {
    &::before {
      backdrop-filter: blur(4px);
    }

    &.light {
      &::before, &.overlay::before {
        background-color: color.alpha(colors.$showdown-background-light, 0.56);
      }
    }

    &.dark {
      &::before, &.overlay::before {
        background-color: color.alpha(colors.$gray-darkest, 0.8);
      }
    }
  }
}

.content {
  @include position.absolute-fill;
  @include spacing.padding($x: 16px, $top: 12px, $bottom: 16px);
  @include font.apply(fonts.$mono);
  font-size: 10px;
  overflow-x: hidden;

  .overlay:not(.verySmol) & {
    @include spacing.padding($top: 32px);
  }
}

.fieldCalc {
  max-width: 496px;
  @include spacing.margin($x: auto, $top: 16px);

  .container:not(.skinnyBoi) & {
    @include spacing.padding($x: 24px);
  }
}

.opponentCalc {
  @include spacing.margin($top: 12px);
}

.overlayCloseButton {
  @include position.absolute($top: 8px, $right: 8px);
  @include flex.row-center;
  width: 24px;
  height: 24px;
  font-size: 13px;
  border-radius: 100px;
  @include transition.apply(color, background-color);

  i {
    line-height: 12px;
  }

  .light & {
    color: color.alpha(colors.$gray-darkest, 0.72);
  }

  .dark & {
    color: color.alpha(colors.$white, 0.72);
  }

  @include aria.outline(
    $position: null,
    $radius: 100px,
  );

  &:hover {
    .light & {
      color: colors.$gray-darkest;
      background-color: color.alpha(colors.$black, 0.08);

      &::after {
        @include aria.outline-hover;
      }
    }

    .dark & {
      color: colors.$white;
      background-color: color.alpha(colors.$white, 0.08);

      &::after {
        @include aria.outline-hover($color: colors.$white);
      }
    }
  }

  &:focus::after {
    @include aria.outline-show;
  }
}

div.mobileCloseButton {
  &.top {
    justify-content: flex-start;
    @include spacing.margin($top: 2px, $bottom: 6px);
  }

  &.bottom {
    @include spacing.margin($top: 16px, $bottom: 8px);
  }
}

/*
.playerOption {
  @include flex.row($align: center);

  .label {
    @include font.apply(fonts.$primary, ( font-weight: 500 ));
  }

  .icon {
    width: 12px;
    min-width: 12px;
    height: 12px;
    min-height: 12px;
    @include spacing.margin($left: 1px);
    color: inherit;
  }
}
*/
