@use 'config/colors';
@use 'config/fonts';
@use 'functions/color';
@use 'mixins/font';
@use 'mixins/spacing';

.container {
  grid-template-columns: minmax(0, 1fr) repeat(2, minmax(0, 1.1fr)) minmax(0, 1fr);
  column-gap: 10px;

  &.veryThicc {
    grid-template-columns: minmax(0, 1.5fr) repeat(2, minmax(0, 1fr)) minmax(0, 1.5fr);
  }

  &:not(.veryThicc).doubles {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    column-gap: 5px;
  }
}

.label {
  @include spacing.margin($bottom: 1px);
  @include font.apply(fonts.$primary, ( font-weight: 500 ));
}

.leftFieldLabel {
  @include spacing.margin($left: 7px);

  &.spectating {
    @include spacing.margin($left: 3px);
  }

  .doubles:not(.veryThicc) & {
    grid-area: 1 / 1;
  }
}

.leftFieldInput {
  .doubles:not(.veryThicc) & {
    grid-area: 2 / 1;
  }
}

.weatherLabel {
  .veryThicc & {
    @include spacing.margin($bottom: 3px);
  }

  .doubles:not(.veryThicc) & {
    grid-area: 3 / 1;
    @include spacing.margin($top: 7px, $bottom: 3px);
  }
}

.weatherInput {
  .doubles:not(.veryThicc) & {
    grid-area: 4 / 1;
    @include spacing.margin-xy($x: 15px);

    .verySmol & {
      @include spacing.margin-xy($x: 10px);
    }
  }
}

.terrainLabel {
  .veryThicc & {
    @include spacing.margin($bottom: 3px);
  }

  .doubles:not(.veryThicc) & {
    grid-area: 3 / 2;
    @include spacing.margin($top: 7px, $bottom: 3px);
  }
}

.terrainInput {
  .doubles:not(.veryThicc) & {
    grid-area: 4 / 2;
    @include spacing.margin-xy($x: 15px);

    .verySmol & {
      @include spacing.margin-xy($x: 10px);
    }
  }
}

.rightFieldLabel {
  @include spacing.margin($right: 7px);

  &.spectating {
    @include spacing.margin($right: 3px);
  }

  .doubles:not(.veryThicc) & {
    grid-area: 1 / 2;
  }
}

.rightFieldInput {
  .doubles:not(.veryThicc) & {
    grid-area: 2 / 2;
  }
}

button.toggleButton {
  min-width: 60px;
  @include spacing.margin-all(1px);
  font-size: 10px;
  text-transform: none;

  .doubles & {
    min-width: 58px;
  }
}

// button.toggleButton {
//   @include spacing.margin-all(1px);
//   border-radius: 5px;
//
//   .light & {
//     background-color: color.alpha(colors.$white, 0.5);
//   }
//
//   .dark & {
//     background-color: color.alpha(colors.$white, 0.05);
//   }
// }

// .toggleButtonLabel {
//   .light .inactive & {
//     color: colors.$black;
//   }
//
//   .dark .inactive & {
//     color: colors.$white;
//   }
// }

.tooltipContent {
  text-align: center;
  white-space: normal;
  user-select: none;
}

.descTooltip {
  max-width: 165px;
}
