@use 'config/colors';
@use 'functions/color';
@use 'mixins/flex';
@use 'mixins/position';
@use 'mixins/spacing';
@use 'mixins/transition';

.container {
  width: 100%;
}

.playerBar {
  @include flex.row-between;
  width: 100%;
}

.playerInfo {
  @include flex.column;
}

.username {
  max-width: 78px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  .light & {
    color: color.alpha(colors.$black, 0.5);
  }

  .dark & {
    color: color.alpha(colors.$white, 0.5);
  }
}

.teamList {
  @include flex.row($justify: flex-end);
}

.piconButton {
  position: relative;
  align-self: center;
  width: 40px; // should equal the width of Picon
  height: 40px; // should equal the height of Picon

  &::before {
    content: '';
    // @include position.absolute-anchor($x: -3px, $y: -6px);
    // @include position.absolute-anchor($x: -1px, $y: -4px);
    @include position.absolute-fill;
    // width: 41px;
    // height: 41px;
    // background-color: color.alpha(colors.$white, 0.3);
    background-color: colors.$transparent;
    // border: 3px solid colors.$transparent;
    border-radius: 45px;
    // mask: radial-gradient(circle, transparent 5%, red);
    // transform: scale(0);
    // opacity: 0;
    // @include transition.apply(background-color, border-color, opacity);
    @include transition.apply(background-color);
    // z-index: -1;
    pointer-events: none;
  }

  // &:not(.selected):not(.active):hover::before {
  // &:hover::before {
  //   // transform: scale(0.9);
  //   // opacity: 0.3;
  // }

  .light &:hover::before {
    background-color: color.alpha(colors.$black, 0.15);
  }

  .dark &:hover::before {
    background-color: color.alpha(colors.$white, 0.15);
  }

  // &:not(.selected).active::before {
  //   background-color: colors.$transparent;
  //   border-color: color.tint(colors.$red, 15%);
  //   opacity: 0.3;
  // }

  // &.selected::before {
  //   background-color: color.tint(colors.$blue, 15%);
  //   border-color: color.tint(colors.$blue, 15%);
  //   // transform: scale(1);
  //   opacity: 0.5;
  // }

  &:not(:last-of-type) {
    @include spacing.margin($right: 5px);
  }
}

.picon {
  // opacity: 0.5;
  @include transition.apply(opacity, filter);
  z-index: 1;

  // .active &, .selected & {
  //   opacity: 1;
  // }

  .fainted & {
    opacity: 0.3;
    filter: grayscale(1);
  }
}

.background {
  // @include position.absolute-anchor($x: -3px, $y: -6px);
  // @include position.absolute-anchor($x: 0px, $y: -3px);
  @include position.absolute-center;
  width: 39px;
  height: 39px;
  border: 2px solid colors.$transparent;
  border-radius: 45px;
  @include transition.apply(background-color, border-color);
  // z-index: -1;
  // user-select: none;
  pointer-events: none;

  .active & {
    // border-color: color.alpha(color.tint(colors.$red, 15%), 0.15);
    background-color: color.alpha(colors.$blue, 0.25);
  }

  .selected & {
    border-color: color.alpha(colors.$blue, 0.75);
  }
}

.pokeCalc {
  @include spacing.padding($top: 15px);
  // z-index: 1;
}
