@use 'config/colors';
@use 'config/fonts';
@use 'functions/color';
@use 'mixins/flex';
@use 'mixins/font';
@use 'mixins/position';
@use 'mixins/spacing';
@use 'mixins/transition';

.container {
  width: 100%;
}

.playerBar {
  @include flex.row($justify: space-between);
  width: 100%;

  &.verySmol {
    flex-direction: column;
    justify-content: center;
  }
}

.playerInfo {
  // @include flex.column;
  // flex: 1 0;
  @include spacing.margin($top: 7px);
  width: 100%;
  max-width: 33%;

  .verySmol & {
    max-width: none;
    @include flex.row($align: center);
  }
}

button.usernameButton {
  justify-content: initial;
  max-width: 80%;
  @include font.apply(fonts.$primary, ( font-weight: 500 ));

  .light & {
    color: color.alpha(colors.$black, 0.75);
  }

  .dark & {
    color: color.alpha(colors.$white, 0.75);
  }

  &.tester {
    .light & {
      color: color.alpha(#009688, 0.8);
    }

    .dark & {
      color: color.alpha(color.tint(#009688, 15%), 0.8);
    }
  }
}

.usernameButtonLabel {
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.usernameButtonIcon {
  width: 12px;
  min-width: 12px;
  height: 12px;
  min-height: 12px;
  @include spacing.margin($left: 1px);
  color: inherit;
}

.playerActions {
  @include flex.row($align: center);
  @include spacing.margin($top: 2px);
  font-size: 8px;

  .verySmol & {
    @include spacing.margin($top: 0, $left: 10px);
  }

  button.toggleButton {
    font-size: inherit;
  }

  .rating {
    opacity: 0.65;

    .ratingSeparator {
      display: inline-block;
      @include spacing.margin-xy($x: 0.5em);
      user-select: none;
    }
  }
}

.tooltipContent {
  max-width: 175px;
  text-align: center;
  white-space: normal;
  user-select: none;
}

.teamList {
  // @include flex.row($justify: flex-end);
  display: grid;
  // grid-template-columns: repeat(6, min-content); // inline style now
  // column-gap: 3px;
  // flex: 0 0 auto;

  .verySmol & {
    justify-content: center;
    @include spacing.margin($top: 3px);
  }
}

.piconButton {
  align-self: center;

  // &:not(:last-of-type) {
  //   @include spacing.margin($right: 5px);
  // }
}

.picon {
  @include transition.apply(opacity, filter);

  .fainted & {
    opacity: 0.3;
    filter: grayscale(1);
  }
}

.piconTooltip {
  max-width: 175px;
  text-align: center;
  white-space: normal;
  user-select: none;
}

.background {
  // @include position.absolute-anchor($x: -3px, $y: -6px);
  // @include position.absolute-anchor($x: 0px, $y: -3px);
  @include position.absolute-center;
  width: 39px;
  height: 39px;
  border: 2px solid colors.$transparent;
  border-radius: 45px;
  @include transition.apply(background-color, border-color);
  // z-index: -1;
  // user-select: none;
  pointer-events: none;

  .piconButton:not(.selected):hover & {
    .light & {
      border-color: color.alpha(colors.$black, 0.15);
    }

    .dark & {
      border-color: color.alpha(colors.$white, 0.15);
    }
  }

  .active & {
    .light & {
      background-color: color.alpha(color.shade(colors.$blue, 15%), 0.25);
    }

    .dark & {
      background-color: color.alpha(colors.$blue, 0.25);
    }
  }

  .selected & {
    border-color: color.alpha(colors.$blue, 0.75);
  }
}

.pokeCalc {
  @include spacing.padding($top: 3px);
  // z-index: 1;
}
