@use 'sass:math';
@use 'config/colors';
@use 'config/fonts';
@use 'functions/color';
@use 'mixins/flex';
@use 'mixins/font';
@use 'mixins/position';
@use 'mixins/spacing';

.container {
  .row:not(:first-child) {
    @include spacing.margin($top: 3px);
  }
}

.row {
  @include flex.row-between;

  .rowItem {
    flex: 1;
    @include spacing.margin-xy($x: 3px);

    &:first-child {
      @include spacing.margin($left: 0);
    }

    &:last-child {
      @include spacing.margin($right: 0);
    }
  }
}

.small {
  font-size: 8px;
}

.label {
  font-weight: 500;
  text-transform: uppercase;
  user-select: none;

  .light & {
    color: color.alpha(colors.$black, 0.75);
  }

  .dark & {
    color: color.alpha(colors.$white, 0.75);
  }
}

button.toggleButton {
  font-size: 8px;
}

.dropdownLabel {
  @include flex.row($align: center);
  @include spacing.margin($bottom: 3px, $left: 5px);
  @include font.apply(fonts.$primary, ( font-weight: 500 ));

  button.toggleButton {
    @include spacing.margin($left: 0.75em);
  }
}

.firstLine {
  @include flex.row($align: center);
  max-width: 100%;
  @include spacing.margin($bottom: 1px);
}

.piconContainer {
  flex: 0 0 40px;
  transform: translateY(-2px);
}

.infoContainer {
  flex: 1.25;
  max-width: calc((100% - 40px - 6em) * math.div(5, 8));
}

button.nameButton {
  flex: 0 1 auto;
  // max-width: 100%;
  @include spacing.margin-xy($x: -5px, $y: -1px);
  @include font.apply(fonts.$primary, ( font-weight: 500 ));
  color: inherit;
  overflow-x: hidden;

  &.missingForme {
    font-weight: 400;
  }

  &:not(.missingForme).disabled {
    opacity: 1;
  }
}

.nameLabel {
  // display: inline-block;
  // vertical-align: top;
  // max-width: 45%;
  // font-weight: 500;
  // font-weight: inherit;
  // color: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.level {
  flex: 0 0 auto;
  @include spacing.margin($left: 0.5em);
  font-size: 8px;
  text-transform: uppercase;
  opacity: 0.65;
  user-select: none;
}

.types {
  @include flex.row($align: center);
  flex: 0 0 auto;
  @include spacing.margin($left: 0.5em);
  user-select: none;
}

// .toggleButtonLabel {
//   .light &.inactive {
//     color: colors.$black;
//   }
//
//   .dark &.inactive {
//     color: colors.$white;
//   }
// }

// .infoButton {
//   vertical-align: middle;
//
//   .infoButtonLabel {
//     font-size: 8px;
//     text-transform: uppercase;
//   }
// }

.secondLine {
  @include flex.row($align: center);
  max-width: 100%;
  min-height: 15px;
  user-select: none;
}

// .hpBar {
//   @include spacing.margin($bottom: 2px);
// }

.hpPercentage {
  @include spacing.margin($left: 0.5em);

  .light & {
    color: color.alpha(colors.$black, 0.85);
  }

  .dark & {
    color: color.alpha(colors.$white, 0.85);
  }
}

.statuses {
  @include flex.row($align: center);
  @include spacing.margin($left: 0.5em);

  .status:not(:last-child) {
    display: inline-block;
    @include spacing.margin($right: 0.5em);
  }
}

.presetContainer {
  flex: 1;
  min-width: 140px;
  @include spacing.margin($left: 1em);
}

// .toggleButton {
//   @include spacing.margin($bottom: 2px);
// }

// .autoPresetButton {
//   @include spacing.margin($bottom: 2px);
// }

// .abilityButton {
//   @include spacing.margin($bottom: 1px);
// }

.tooltipContent {
  text-align: center;
  white-space: normal;
  user-select: none;
}

.pokePasteTooltip {
  position: relative;
  max-width: 200px;
  white-space: pre-wrap;

  .copiedBadge {
    @include position.absolute($top: -16px, $left: 50%);
  }
}

.descTooltip {
  max-width: 165px;
}

.itemTooltip {
  // font-size: 8px;

  .itemEffect {
    font-size: 8px;
    text-transform: uppercase;
  }

  .itemName {
    font-weight: 500;
  }
}
