@use 'config/colors';
@use 'config/fonts';
@use 'functions/color';
@use 'mixins/flex';
@use 'mixins/font';
@use 'mixins/position';
@use 'mixins/spacing';
@use 'mixins/transition';

.container {
  grid-template-columns: minmax(150px, 1.25fr) 1.15fr 1fr;
  column-gap: 10px;
  row-gap: 5px;
  @include spacing.margin($top: 15px);
  @include spacing.padding-all(10px);
  border-radius: 10px;

  &.light {
    background-color: color.alpha(colors.$white, 0.6);
    box-shadow: (
      0 0 1px color.alpha(colors.$black, 0.15),
      0 0 3px color.alpha(colors.$black, 0.15),
    );
  }

  &.dark {
    background-color: color.alpha(colors.$black, 0.75);
    // box-shadow: 0 0 1px color.alpha(colors.$white, 0.15);
    box-shadow: (
      0 0 1px color.alpha(colors.$black, 0.15),
      0 0 5px color.alpha(colors.$black, 0.15),
    );
  }
}

.movesHeader {
  @include flex.row-start;
  @include spacing.margin($left: 5px);
}

.dmgHeader {
  @include flex.row-center;
}

.label {
  font-weight: 500;
  text-transform: uppercase;
  user-select: none;

  .light & {
    color: color.alpha(colors.$black, 0.75);
  }

  .dark & {
    color: color.alpha(colors.$white, 0.75);
  }
}

.moveTooltip {
  font-size: 8px;
  user-select: none;
}

button.toggleButton {
  // vertical-align: middle;
  // @include spacing.margin($bottom: 1px);
  @include spacing.margin($left: 5px);

  .light & {
    background-color: color.alpha(colors.$black, 0.075);
  }

  .dark & {
    background-color: color.alpha(colors.$white, 0.05);
  }
}

.toggleButtonLabel {
  font-size: 8px;
  text-transform: uppercase;

  .light &.inactive {
    color: colors.$black;
  }

  .dark &.inactive {
    color: colors.$white;
  }
}

.damageButton {
  .light &:not(:hover):not(.active) .damageButtonLabel.noDamage {
    color: color.alpha(colors.$black, 0.5);
  }

  .dark &:not(:hover):not(.active) .damageButtonLabel.noDamage {
    color: color.alpha(colors.$white, 0.5);
  }

  // by default, a disabled button will have 0.3 opacity
  &.disabled {
    opacity: 1;
  }
}

.damageButtonLabel {
  .light & {
    color: colors.$black;
  }

  .dark & {
    color: colors.$white;
  }
}

.descTooltip {
  position: relative;
  max-width: 250px;
  text-align: center;
  white-space: normal;
  user-select: none;

  .copied {
    @include position.absolute($top: -18px, $left: 50%);
    @include spacing.padding-xy($x: 10px, $y: 3px);
    @include font.apply(fonts.$primary, ( font-weight: 500 ));
    font-size: 10px;
    text-transform: uppercase;
    background-color: color.alpha(color.shade(colors.$green, 15%), 0.85);
    border-radius: 50px;
    box-shadow: 0 0 3px color.alpha(colors.$black, 0.3);
    opacity: 0;
    transform: translate(-50%, 5px);
    @include transition.apply(opacity, transform);
    user-select: none;
    pointer-events: none;

    &.copiedVisible {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
}
