////
/// @group position
/// @author Keith Choison
////

@use 'sass:meta';
@use 'functions/list';

@mixin -position(
  $position: relative,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null,
) {
  @if not list.includes('absolute' 'fixed' 'relative', $position) {
    @error 'Invalid $position value passed to the -position() mixin: #{$position}';
  }

  position: $position;

  @if $top {
    top: $top;
  }

  @if $right {
    right: $right;
  }

  @if $bottom {
    bottom: $bottom;
  }

  @if $left {
    left: $left;
  }
}

// translate

@mixin translate(
  $x: null,
  $y: null,
) {
  @if meta.type-of($x) == 'number' or meta.type-of($y) == 'number' {
    @if $x and $x != 0 and $y and $y != 0 {
      transform: translate($x, $y);
    } @else if $x and $x != 0 {
      transform: translateX($x);
    } @else if $y and $y != 0 {
      transform: translateY($y);
    }
  }
}

// unset all

@mixin unset-all {
  top: unset;
  right: unset;
  bottom: unset;
  left: unset;
}

// absolute

@mixin absolute(
  $top: null,
  $right: null,
  $bottom: null,
  $left: null,
  $x: null,
  $y: null,
  $all: null,
) {
  @include -position(
    $position: absolute,
    $top: if($top, $top, if($y, $y, $all)),
    $right: if($right, $right, if($x, $x, $all)),
    $bottom: if($bottom, $bottom, if($y, $y, $all)),
    $left: if($left, $left, if($x, $x, $all)),
  );
}

@mixin absolute-xy($x: null, $y: null) {
  @include absolute($x: $x, $y: $y);
}

@mixin absolute-axis($horizontal: null, $vertical: null) {
  @include absolute($x: $horizontal, $y: $vertical);
}

@mixin absolute-all($margin) {
  @include absolute($all: $margin);
}

@mixin absolute-square($margin) {
  @include absolute($all: $margin);
}

@mixin absolute-fill {
  @include absolute($all: 0);
}

@mixin absolute-anchor(
  $x: null,
  $y: null,
  $x-prop: left,
  $y-prop: top,
) {
  $translate-x: if($x, -$x, null);
  $translate-y: if($y, -$y, null);

  @if $translate-x and unit($translate-x) != '%' { // e.g., px
    $translate-x: 0;
  }

  @if $translate-y and unit($translate-y) != '%' {
    $translate-y: 0;
  }

  @include absolute(
    $top: if($y-prop == top, $y, null),
    $right: if($x-prop == right, $x, null),
    $bottom: if($y-prop == bottom, $y, null),
    $left: if($x-prop == left, $x, null),
  );

  @include translate($x: $translate-x, $y: $translate-y);
}

@mixin absolute-center($x-prop: left, $y-prop: top) {
  @include absolute-anchor($x: 50%, $y: 50%, $x-prop: $x-prop, $y-prop: $y-prop);
}

// fixed

@mixin fixed(
  $top: null,
  $right: null,
  $bottom: null,
  $left: null,
  $x: null,
  $y: null,
  $all: null,
) {
  @include -position(
    $position: fixed,
    $top: if($top, $top, if($y, $y, $all)),
    $right: if($right, $right, if($x, $x, $all)),
    $bottom: if($bottom, $bottom, if($y, $y, $all)),
    $left: if($left, $left, if($x, $x, $all)),
  );
}

@mixin fixed-xy($x: null, $y: null) {
  @include fixed($x: $x, $y: $y);
}

@mixin fixed-axis($horizontal: null, $vertical: null) {
  @include fixed($x: $horizontal, $y: $vertical);
}

@mixin fixed-all($margin) {
  @include fixed($all: $margin);
}

@mixin fixed-square($margin) {
  @include fixed($all: $margin);
}

@mixin fixed-fill {
  @include fixed($all: 0);
}

@mixin fixed-anchor(
  $x: null,
  $y: null,
  $x-prop: left,
  $y-prop: top,
) {
  $translate-x: if($x, -$x, null);
  $translate-y: if($y, -$y, null);

  @if $translate-x and unit($translate-x) != '%' {
    $translate-x: 0;
  }

  @if $translate-y and unit($translate-y) != '%' {
    $translate-y: 0;
  }

  @include fixed(
    $top: if($y-prop == top, $y, null),
    $right: if($x-prop == right, $x, null),
    $bottom: if($y-prop == bottom, $y, null),
    $left: if($x-prop == left, $x, null),
  );

  @include translate($x: $translate-x, $y: $translate-y);
}

@mixin fixed-center($x-prop: left, $y-prop: top) {
  @include fixed-anchor($x: 50%, $y: 50%, $x-prop: $x-prop, $y-prop: $y-prop);
}
