////
/// @group spacing
/// @author Keith Choison
////

@use 'functions/list';

@mixin -spacing(
  $prop,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null,
) {
  @if not list.includes('margin' 'padding', $prop) {
    @error 'Invalid $prop value passed to the -spacing() mixin: #{$prop}';
  }

  @if $top and $right and $bottom and $left { // all directions specified
    @if $right == $left {
      @if $top == $bottom {
        @if $top == $right { // $top (== $bottom) == $right (== $left)
          #{$prop}: $top;
        } @else { // $top (== $bottom) != $right (== $left)
          #{$prop}: $top $right;
        }
      } @else { // $top != $bottom, but $right == $left
        #{$prop}: $top $right $bottom;
      }
    } @else { // $right != $left
      #{$prop}: $top $right $bottom $left;
    }
  } @else { // not all directions specified
    @if $top {
      #{$prop}-top: $top;
    }

    @if $right {
      #{$prop}-right: $right;
    }

    @if $bottom {
      #{$prop}-bottom: $bottom;
    }

    @if $left {
      #{$prop}-left: $left;
    }
  }
}

// margin

@mixin margin(
  $top: null,
  $right: null,
  $bottom: null,
  $left: null,
  $x: null,
  $y: null,
  $all: null,
) {
  @include -spacing(
    $prop: margin,
    $top: if($top, $top, if($y, $y, $all)),
    $right: if($right, $right, if($x, $x, $all)),
    $bottom: if($bottom, $bottom, if($y, $y, $all)),
    $left: if($left, $left, if($x, $x, $all)),
  );
}

@mixin margin-xy($x: null, $y: null) {
  @include margin($x: $x, $y: $y);
}

@mixin margin-axis($horizontal: null, $vertical: null) {
  @include margin($x: $horizontal, $y: $vertical);
}

@mixin margin-center($vertical: null) {
  @include margin($x: auto, $y: $vertical);
}

@mixin margin-middle($horizontal: null) {
  @include margin($x: $horizontal, $y: auto);
}

@mixin margin-all($margin) {
  @include margin($all: $margin);
}

@mixin margin-square($margin) {
  @include margin($all: $margin);
}

@mixin margin-auto {
  @include margin($all: auto);
}

@mixin margin-none {
  @include margin($all: 0);
}

// padding

@mixin padding(
  $top: null,
  $right: null,
  $bottom: null,
  $left: null,
  $x: null,
  $y: null,
  $all: null,
) {
  @include -spacing(
    $prop: padding,
    $top: if($top, $top, if($y, $y, $all)),
    $right: if($right, $right, if($x, $x, $all)),
    $bottom: if($bottom, $bottom, if($y, $y, $all)),
    $left: if($left, $left, if($x, $x, $all)),
  );
}

@mixin padding-xy($x: null, $y: null) {
  @include padding($x: $x, $y: $y);
}

@mixin padding-axis($horizontal: null, $vertical: null) {
  @include padding($x: $horizontal, $y: $vertical);
}

@mixin padding-all($padding) {
  @include padding($all: $padding);
}

@mixin padding-square($padding) {
  @include padding($all: $padding);
}

@mixin padding-none {
  @include padding($all: 0);
}
